In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('X_train',header = 0,dtype = int)





x = df.iloc[:,1:]

x

,age,Private,Self-employed-incorporated,State government,Self-employed-not incorporated,Not in universe,Without pay,Federal government,Never worked,Local government,...,1.2,Not in universe.12,Yes.3,No.3,2.3,0.3,1.3,weeks worked in year,94,95
0,33,1,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,52,0,1
1,63,1,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,52,0,1
2,71,0,0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
3,43,0,0,0,0,0,0,0,0,1,...,0,1,0,0,1,0,0,52,0,1
4,57,0,0,0,0,0,0,0,0,1,...,0,1,0,0,1,0,0,52,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54251,43,1,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,52,0,1
54252,30,0,0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
54253,16,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,0,8,1,0
54254,48,1,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,52,0,1
54255,48,0,0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1

In [2]:
a = pd.read_csv('Y_train',header = 0)
y = a.iloc[:,1:]

y.head()

   label
0      1
1      0
2      0
3      0
4      0

In [3]:
np.zeros([3,2])

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [4]:
mean_x = np.mean(x, axis = 0)
std_x = np.std(x,axis = 0)
for i in range(len(x['age'])):
    x['age'][i] = (x['age'][i] - mean_x['age'])/std_x['age']

D:\Python\lib\site-packages\IPython\core\interactiveshell.py:3418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [15]:
dim = x.shape[1]  
w = np.zeros([dim,1])

rate = 100
iter_time = 1000
adagrad = np.zeros([dim,1])
eps = 0.00000000000001
for i in range(iter_time):
    z = np.dot(x,w)
    fx = 1/(1+np.e**(-z))
    
    c = np.sum(- (np.dot(y,np.log(fx).transpose()))
               +np.dot((1-y),np.log(1-fx).transpose()))
    gradient = -np.dot((y-fx),x)
    adagrad += gradient ** 2
    w = w - rate*gradient/np.sqrt(adagrad + eps)
np.save('weight.npy',w)

MemoryError: Unable to allocate 21.9 GiB for an array with shape (54256, 54256) and data type float64

In [ ]:
x.shape[0]

In [ ]:
x.shape[1]

In [ ]:
ln = np.log(x)

In [12]:
np.log(1-fx).transpose().shape[0]

1

In [18]:
np.dot(np.log(fx).transpose(),y)

array([[-7729.28421042]])